<%-include("partials/header")-%>
<div class="register">
  <h2>Loan Application</h2>
  <!-- first form -->
  <form spellcheck="false" class="search_form" method="POST" action="/search/<%= user %>">
    <div>
      <input name="uniqueAccountNo" class="code" type="tel" pattern="[0-9]{13}" title="Incorrect Account Number" placeholder="Account No." autocomplete="off" required />
      <button class="submit" name="SearchBtn" value="loanEntry" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </form>


<% if( loanEntryBtn == "loanEntryBtn" ){ %>
  <% if( customer ){ %>
<div class="DepositEntry">
  <div class="cDetails">
    <img class="profilePic" src="data:image/<%=customer.passportSizePhoto.contentType%>;base64,
    <%=customer.passportSizePhoto.data.toString('base64')%>" alt="img">
    <div class="cInfo">

    <% if(customer.gender === "Male"){ %>
      <div class="cKey">Name</div>:-
      <div class="cValue"><h4>Mr. <%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
    <% } %>

    <% if(customer.gender === "Female" && customer.marriageStatus === "Married"){ %>
      <div class="cKey">Name</div>:-
      <div class="cValue"><h4>Mrs. <%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
    <% } %>

    <% if(customer.gender === "Female" && customer.marriageStatus === "single"){ %>
      <div class="cKey">Name</div>:-
      <div class="cValue"><h4>Miss. <%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
    <% } %>

    <% if(customer.gender === "Other" ){ %>
      <div class="cKey">Name</div>:-
      <div class="cValue"><h4><%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
    <% } %>
    
      </div>

    <div class="cInfo">
      <div class="cKey">Account No.</div>:-
      <div class="cValue"><p><%= customer.AccountNo %></p></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Father's Name</div>:-
      <div class="cValue">Mr. <%= customer.ffName %> <%= customer.fmName %> <%= customer.flName %></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Date Of Birth</div>:-
      <div class="cValue"><%= customer.dob %></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Pan Card No.</div>:-
      <div class="cValue"><%= customer.panNo %></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Phone No.</div>:-
      <div class="cValue"><%= customer.phone %></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Email ID</div>:-
      <div class="cValue"><%= customer.email %></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Voter Card ID</div>:-
      <div class="cValue"><%= customer.voter %></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Adhar Card No.</div>:-
      <div class="cValue"><%= customer.adhar %></div>
    </div>
    <div class="cInfo">
      <div class="cKey">Address</div>:-
      <div class="cValue"><%= customer.address %></div>
    </div>

<div class="hSign">
  <h5>Signature:-</h5>
  <img src="data:image/<%=customer.SignatureImg.contentType%>;base64,
  <%=customer.SignatureImg.data.toString('base64')%>" alt="Signature">
</div>

 
</div>

<div class="dEntry">
  <% if( customer.loanAplicationEntery[0] ){ %>

    <p style="color: rgb(224, 102, 102); font-size: 25px;">Sorry!!! you can't take any loan from our bank, beacous you already took a loan from our bank
    </p>

  <% }else{ %>

  <form spellcheck="false" class="registerForm" method="POST" action="/loanEntry/<%= user %>/<%= customer.AccountNo %>/save">
    <div class="row">
      <p>Monthly Income</p>
      <input name="monthlyIncome" type="number" autocomplete="off" required />
    </div>

    <div class="row">
      <p>Required Loan Amount</p>
      <input name="loanAmount" type="number" autocomplete="off" required />
    </div>

    <div class="row">
      <p>Credit Score</p>
      <input name="creditScore" type="number" autocomplete="off" required />
    </div>

    <div class="row">
      <p>Sanction Amount Loan</p>
      <input name="sanctionAmountLoan" type="number" autocomplete="off" required />
    </div>

    <div class="row">
      <p>Loan Period</p>
      <input name="loanPeriod" type="number" autocomplete="off" required />
    </div>

    <div class="row">
      <p>Intarest Rate(%)</p>
      <input name="intarestrate" type="number" autocomplete="off" required />
    </div>

    <div class="row">
      <p>Loan Type</p>
      <input name="loanType" type="text" autocomplete="off" required />
    </div>

    <div class="row">
      <p>Nominee For The Loan</p>
      <input name="loanNominee" type="text" autocomplete="off" required />
    </div>

    <div class="rowSubmit">
      <button onclick="myAfterClick()" type="submit">Save</button>
    </div>

  </form>

  <% } %>
</div>
<% } else { %>
  <p style="color: red; text-align: center; font-size: 20px;" >Sorry!!! the account number don't exist</p> 
<% } %>
<% } %>
</div>    
<%-include("partials/footer")-%>