<%-include("partials/header")-%>
    <div class="register">
        <h2>EMI Approval</h2>

        <div class="DepositEntry">


            <div class="cDetails">
                <img class="profilePic" src="data:image/<%=customer.passportSizePhoto.contentType%>;base64,
    <%=customer.passportSizePhoto.data.toString('base64')%>" alt="img">
                <div class="cInfo">

                    <% if(customer.gender==="Male" ){ %>
                        <div class="cKey">Name</div>:-
                        <div class="cValue">
                            <h4>Mr. <%= customer.userfName %>
                                    <%= customer.usermName %>
                                        <%= customer.userlName %>
                                            <h4>
                        </div>
                        <% } %>

                            <% if(customer.gender==="Female" && customer.marriageStatus==="Married" ){ %>
                                <div class="cKey">Name</div>:-
                                <div class="cValue">
                                    <h4>Mrs. <%= customer.userfName %>
                                            <%= customer.usermName %>
                                                <%= customer.userlName %>
                                                    <h4>
                                </div>
                                <% } %>

                                    <% if(customer.gender==="Female" && customer.marriageStatus==="single" ){ %>
                                        <div class="cKey">Name</div>:-
                                        <div class="cValue">
                                            <h4>Miss. <%= customer.userfName %>
                                                    <%= customer.usermName %>
                                                        <%= customer.userlName %>
                                                            <h4>
                                        </div>
                                        <% } %>

                                            <% if(customer.gender==="Other" ){ %>
                                                <div class="cKey">Name</div>:-
                                                <div class="cValue">
                                                    <h4>
                                                        <%= customer.userfName %>
                                                            <%= customer.usermName %>
                                                                <%= customer.userlName %>
                                                                    <h4>
                                                </div>
                                                <% } %>


                </div>
                <div class="cInfo">
                    <div class="cKey">Account No.</div>:-
                    <div class="cValue">
                        <p>
                            <%= customer.AccountNo %>
                        </p>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Father's Name</div>:-
                    <div class="cValue">Mr. <%= customer.ffName %>
                            <%= customer.fmName %>
                                <%= customer.flName %>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Date Of Birth</div>:-
                    <div class="cValue">
                        <%= customer.dob %>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Pan Card No.</div>:-
                    <div class="cValue">
                        <%= customer.panNo %>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Phone No.</div>:-
                    <div class="cValue">
                        <%= customer.phone %>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Email ID</div>:-
                    <div class="cValue">
                        <%= customer.email %>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Voter Card ID</div>:-
                    <div class="cValue">
                        <%= customer.voter %>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Adhar Card No.</div>:-
                    <div class="cValue">
                        <%= customer.adhar %>
                    </div>
                </div>
                <div class="cInfo">
                    <div class="cKey">Address</div>:-
                    <div class="cValue">
                        <%= customer.address %>
                    </div>
                </div>

                <div class="hSign">
                    <h5>Signature:-</h5>
                    <img src="data:image/<%=customer.SignatureImg.contentType%>;base64,
  <%=customer.SignatureImg.data.toString('base64')%>" alt="Signature">
                </div>
            </div>
            <div class="dEntry">
                                <div class="all PayBack_By_EMI">

                                    <div class="cInfo">
                                        <div class="cKey">Total Amount Withdrawal</div>:-
                                        <div class="cValue">
                                            <%= totalWithdrawalAmount %>
                                        </div>
                                    </div>
                                    <div class="cInfo">
                                        <div class="cKey">Total Intarest</div>:-
                                        <div class="cValue">
                                            <%= intarestNow %>
                                        </div>
                                    </div>
                                    <div class="cInfo">
                                        <div class="cKey">Total Payment</div>:-
                                        <div class="cValue">
                                            <%= totalAmountwithIntarest %>
                                        </div>
                                    </div>
                                    <div class="cInfo">
                                        <div class="cKey">Intarest Rate</div>:-
                                        <div class="cValue">
                                            <%= customer.loanAplicationEntery[0].loanIntarestRate %>%
                                        </div>
                                    </div>
                                    <div class="cInfo">
                                        <div class="cKey">Loan Start Date</div>:-
                                        <div class="cValue">
                                            <%= customer.loanAplicationEntery[0].dateLoanTake %>
                                        </div>
                                    </div>
                                    <form spellcheck="false" class="registerForm"
                                        action="/loan/EMIentry/<%= user %>/save" method="POST">
                                        <h5>EMI Start For Loan :-</h5>
                                        <table class="emiTable">
                                            <tr>
                                                <th>Plan Code</th>
                                                <th>Duration (Months)</th>
                                                <th>Duration (Years)</th>
                                                <th>EMI Payment</th>
                                                <th>Total Intarest</th>
                                            </tr>
                                            <tr>
                                                <td>MH1</td>
                                                <td>6</td>
                                                <td>0.5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi1t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints1t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YF1</td>
                                                <td>12</td>
                                                <td>1</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi2t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints2t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YM1</td>
                                                <td>18</td>
                                                <td>1.5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi3t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints3t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YF2</td>
                                                <td>24</td>
                                                <td>2</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi4t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints4t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YM2</td>
                                                <td>30</td>
                                                <td>2.5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi5t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints5t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Yf3</td>
                                                <td>36</td>
                                                <td>3</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi6t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints6t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YM3</td>
                                                <td>42</td>
                                                <td>3.5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi7t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints7t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YF4</td>
                                                <td>48</td>
                                                <td>4</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi8t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints8t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YM4</td>
                                                <td>54</td>
                                                <td>4.5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi9t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints9t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <Td>YF5</Td>
                                                <td>60</td>
                                                <td>5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi10t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints10t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YM5</td>
                                                <td>66</td>
                                                <td>5.5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi11t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints11t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YF6</td>
                                                <td>72</td>
                                                <td>6</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi12t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints12t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YM6</td>
                                                <td>78</td>
                                                <td>6.5</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi13t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints13t %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>YF7</td>
                                                <td>84</td>
                                                <td>7</td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= emi14t %>
                                                </td>
                                                <td><i class="fas fa-rupee-sign"></i>
                                                    <%= ints14t %>
                                                </td>
                                            </tr>
                                        </table>
                                        <h5 id="planSelect">Select EMI Plan:-</h5>
                                        <div class="loanPlan">
                                            <div class="lPlant">
                                                <select name="emiDuration">
                                                    <option value="Real">Select Duration</option>
                                                    <option value="6">6 Month - 0.5 Year</option>
                                                    <option value="12">12 Month - 1 Year</option>
                                                    <option value="18">18 Month - 1.5 Year</option>
                                                    <option value="24">24 Month - 2 Year</option>
                                                    <option value="30">30 Month - 2.5 Year</option>
                                                    <option value="36">36 Month - 3 Year</option>
                                                    <option value="42">42 Month - 3.5 Year</option>
                                                    <option value="48">48 Month - 4 Year</option>
                                                    <option value="54">54 Month - 4.5 Year</option>
                                                    <option value="60">60 Month - 5 Year</option>
                                                    <option value="66">66 Month - 5.5 Year</option>
                                                    <option value="72">72 Month - 6 Year</option>
                                                    <option value="78">78 Month - 6.5 Year</option>
                                                    <option value="84">84 Month - 7 Year</option>
                                                </select>
                                            </div>
                                            <div class="lPlant2">
                                                <select name="emiAmount">
                                                    <option value="Real">Select Amount As Per Duration</option>
                                                    <option value="<%= emi1t %>">
                                                        <%= emi1t %>
                                                    </option>
                                                    <option value="<%= emi2t %>">
                                                        <%= emi2t %>
                                                    </option>
                                                    <option value="<%= emi3t %>">
                                                        <%= emi3t %>
                                                    </option>
                                                    <option value="<%= emi4t %>">
                                                        <%= emi4t %>
                                                    </option>
                                                    <option value="<%= emi5t %>">
                                                        <%= emi5t %>
                                                    </option>
                                                    <option value="<%= emi6t %>">
                                                        <%= emi6t %>
                                                    </option>
                                                    <option value="<%= emi7t %>">
                                                        <%= emi7t %>
                                                    </option>
                                                    <option value="<%= emi8t %>">
                                                        <%= emi8t %>
                                                    </option>
                                                    <option value="<%= emi9t %>">
                                                        <%= emi9t %>
                                                    </option>
                                                    <option value="<%= emi10t %>">
                                                        <%= emi10t %>
                                                    </option>
                                                    <option value="<%= emi11t %>">
                                                        <%= emi11t %>
                                                    </option>
                                                    <option value="<%= emi12t %>">
                                                        <%= emi12t %>
                                                    </option>
                                                    <option value="<%= emi13t %>">
                                                        <%= emi13t %>
                                                    </option>
                                                    <option value="<%= emi14t %>">
                                                        <%= emi14t %>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <p>Plan Code</p>
                                            <input type="text" name="loanPlanCode" value="<%= application.loanPlanCode %>" />
                                        </div>

                                        <div class="row">
                                            <p>Loan Tenure</p>
                                            <input name="loanTenure" type="number" autocomplete="off" required />
                                        </div>

                                        <div class="row">
                                            <p>Number of Installments</p>
                                            <input type="number" name="noInstallments" value="<%= application.noInstallments %>" />
                                        </div>

                                        <div class="row">
                                            <p>Total Payable</p>
                                            <input name="totalPayable" type="number" autocomplete="off" required />
                                        </div>
                                    
                                        <input style="display: none;" name="applicationID" type="text" value="<%= loanApplicationID %>" />
                                    

                                        <div class="row">
                                            <p>EMI Amount</p>
                                            <input type="number" name="loanEmiAmount" value="<%= application.loanEmiAmount %>" />
                                        </div>


                                        <div class="row">
                                            <p>Advisor Name</p>
                                            <input type="text" name="loanAdvisorName" value="<%= application.loanAdvisorName %>" />
                                        </div>

                                        <input style="display: none;" type="text" name="AccountNo"
                                            value="<%= customer.AccountNo %>">
                                        <input style="display: none;" type="number" name="TotalAmount"
                                            value="<%= customer.currentTotalAmount %>">

                                        <div class="row">
                                            <p>Narration</p>
                                            <input type="text" name="loanNarration" value="<%= application.Narration %>" />
                                        </div>
                                        <div class="row">
                                            <p>Branch Name</p>
                                            <input type="text" name="branchName" value="<%= application.branchName %>" /> 
                                        </div>
                                        <div class="rowSubmit">
                                            <button onclick="myAfterClick()" type="submit" name="buttonType" value="approves">
                                                Approved
                                            </button>
                                        </div> 
                                        <div class="rowSubmit">
                                            <button onclick="myAfterClick()" type="submit" name="buttonType" value="cancel">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- end of single post -->
            </div>
        </div>

        <%-include("partials/footer")-%>