<%-include("partials/header")-%>

    <div class="register">

        <h2>Tracsaction Details</h2>
        <!-- first form -->
        <form spellcheck="false" class="search_form" method="POST" action="/search/<%= user %>">
          <div>
            <input name="uniqueAccountNo" class="code" type="tel" pattern="[0-9]{13}" title="Incorrect Account Number" placeholder="Account No." autocomplete="off" required />
            <button class="submit" name="SearchBtn" value="transactiondetails" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>

<% if( transactiondetailsBtn === "transactiondetailsBtn" ){ %>
<% if(customer) { %>
<div class="DepositEntry"> 
    <div class="cDetails">

      <img class="profilePic" src="data:image/<%=customer.passportSizePhoto.contentType%>;base64,
      <%=customer.passportSizePhoto.data.toString('base64')%>" alt="img">

    </div>

    <div class="dEntry">
            <div class="cInfo">
               <div class="cKey"><h5>Current Balance</h5></div>:-
               <div class="cValue"><h5><%= customer.currentTotalAmount %>/-</h5></div>
            </div>
            <div class="cInfo">
            <% if(customer.gender === "Male"){ %>
              <div class="cKey">Name</div>:-
              <div class="cValue"><h4>Mr. <%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
            <% } %>
        
            <% if(customer.gender === "Female" && customer.marriageStatus === "Married"){ %>
              <div class="cKey">Name</div>:-
              <div class="cValue"><h4>Mrs. <%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
            <% } %>
        
            <% if(customer.gender === "Female" && customer.marriageStatus === "single"){ %>
              <div class="cKey">Name</div>:-
              <div class="cValue"><h4>Miss. <%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
            <% } %>
        
            <% if(customer.gender === "Other" ){ %>
              <div class="cKey">Name</div>:-
              <div class="cValue"><h4><%= customer.userfName %> <%= customer.usermName %> <%= customer.userlName %><h4></div>
            <% } %>
            </div>
            <div class="cInfo">
              <div class="cKey">Account No.</div>:-
              <div class="cValue"><p><%= customer.AccountNo %></p></div>
            </div>
            <div class="cInfo">
              <div class="cKey">Father's Name</div>:-
              <div class="cValue">Mr. <%= customer.ffName %> <%= customer.fmName %> <%= customer.flName %></div>
            </div>
            <div class="cInfo">
              <div class="cKey">Date Of Birth</div>:-
              <div class="cValue"><%= customer.dob %></div>
            </div>
            <div class="cInfo">
              <div class="cKey">Address</div>:-
              <div class="cValue"><%= customer.address %></div>
            </div> 
        </div>
    </div>

    <div class="TranstionsDetails">
    <form action="/transactionDetails/search" method="post">
     <input style="display: none;" type="text" name="AccountNo" value="<%= customer.AccountNo %>">
     <input style="display: none;" type="text" name="BankerId" value="<%= user %>">
     <div>
    <label style="color: black;">From</label>
     <select name="fromDay" >
       <% for(var i=1 ; i<=31 ; i++){ %>
        <% if( fromDayV == i  ){ %>
          <option value="<%= i %>" selected><%= i %></option>
        <% } else { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
          <% } %>
     </select>      
     <select name="fromMonth" >
      <% if( fromMonthV == 1  ){ %>
        <option value="1" selected >January</option>
      <% } else { %>
        <option value="1" >January</option>
      <% } %>
      <% if( fromMonthV == 2  ){ %>
        <option value="2" selected >February</option>
      <% } else { %>
        <option value="2" >February</option>
      <% } %>
      <% if( fromMonthV == 3  ){ %>
        <option value="3" selected >March</option>
      <% } else { %>
        <option value="3" >March</option>
      <% } %>
      <% if( fromMonthV == 4  ){ %>
        <option value="4" selected >April</option>
      <% } else { %>
        <option value="4" >April</option>
      <% } %>
      <% if( fromMonthV == 5  ){ %>
        <option value="5" selected >May</option>
      <% } else { %>
        <option value="5" >May</option>
      <% } %>
      <% if( fromMonthV == 6  ){ %>
        <option value="6" selected >June</option>
      <% } else { %>
        <option value="6" >June</option>
      <% } %>
      <% if( fromMonthV == 7  ){ %>
        <option value="7" selected >July</option>
      <% } else { %>
        <option value="7" >July</option>
      <% } %>
      <% if( fromMonthV == 8  ){ %>
        <option value="8" selected >August</option>
      <% } else { %>
        <option value="8" >August</option>
      <% } %>
      <% if( fromMonthV == 9  ){ %>
        <option value="9" selected >September</option>
      <% } else { %>
        <option value="9" >September</option>
      <% } %>
      <% if( fromMonthV == 10  ){ %>
        <option value="10" selected >October</option>
      <% } else { %>
        <option value="10" >October</option>
      <% } %>
      <% if( fromMonthV == 11  ){ %>
        <option value="11" selected >November</option>
      <% } else { %>
        <option value="11" >November</option>
      <% } %>
      <% if( fromMonthV == 12  ){ %>
        <option value="12" selected >December</option>
      <% } else { %>
        <option value="12" >December</option>
      <% } %>
     </select>     
     <select name="fromYear" >
      <% for(var i=2021 ; i<=currentYear ; i++){ %>
        <% if( fromYearV == i  ){ %>
          <option value="<%= i %>" selected><%= i %></option>
        <% } else { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
       <% } %>
     </select>  
    </div>
    <div>
    <label style="color: black;">To</label>
    <select name="toDay"  >
      <% for(var i=1 ; i<=31 ; i++){ %>
        <% if( toDayV == i  ){ %>
          <option value="<%= i %>" selected><%= i %></option>
        <% } else { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      <% } %>
    </select>      
    <select name="toMonth" >
      <% if( toMonthV == 1  ){ %>
        <option value="1" selected >January</option>
      <% } else { %>
        <option value="1" >January</option>
      <% } %>
      <% if( toMonthV == 2  ){ %>
        <option value="2" selected >February</option>
      <% } else { %>
        <option value="2" >February</option>
      <% } %>
      <% if( toMonthV == 3  ){ %>
        <option value="3" selected >March</option>
      <% } else { %>
        <option value="3" >March</option>
      <% } %>
      <% if( toMonthV == 4  ){ %>
        <option value="4" selected >April</option>
      <% } else { %>
        <option value="4" >April</option>
      <% } %>
      <% if( toMonthV == 5  ){ %>
        <option value="5" selected >May</option>
      <% } else { %>
        <option value="5" >May</option>
      <% } %>
      <% if( toMonthV == 6  ){ %>
        <option value="6" selected >June</option>
      <% } else { %>
        <option value="6" >June</option>
      <% } %>
      <% if( toMonthV == 7  ){ %>
        <option value="7" selected >July</option>
      <% } else { %>
        <option value="7" >July</option>
      <% } %>
      <% if( toMonthV == 8  ){ %>
        <option value="8" selected >August</option>
      <% } else { %>
        <option value="8" >August</option>
      <% } %>
      <% if( toMonthV == 9  ){ %>
        <option value="9" selected >September</option>
      <% } else { %>
        <option value="9" >September</option>
      <% } %>
      <% if( toMonthV == 10  ){ %>
        <option value="10" selected >October</option>
      <% } else { %>
        <option value="10" >October</option>
      <% } %>
      <% if( toMonthV == 11  ){ %>
        <option value="11" selected >November</option>
      <% } else { %>
        <option value="11" >November</option>
      <% } %>
      <% if( toMonthV == 12  ){ %>
        <option value="12" selected >December</option>
      <% } else { %>
        <option value="12" >December</option>
      <% } %>
    </select>     
    <select name="toYear"  >
     <% for(var i=2021 ; i<=currentYear ; i++){ %>
      <% if( toYearV == i  ){ %>
        <option value="<%= i %>" selected><%= i %></option>
      <% } else { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
      <% } %>
    </select>   
    <button onclick="myAfterClick()" type="submit" name="transtionSearchBtn" value="banker" ><i class="fas fa-search"></i></button>  
  </div> 
  </form> 

        <table class="transationTable bodertak">
            <tr class="Heading">
                <th></th>
                <th>Transaction Type</th>
                <th>Type</th>
                <th>Transaction Amount</th>
                <th>Current Balance</th>
                <!-- <th>Banker ID</th> -->
                <th>Date & Time</th>
            </tr>
            <%  transactions.forEach(function(transaction){ %>
              <% if( fromDay <= transaction.dayNumber && transaction.dayNumber <= toDay ){ %>
              <tr>
                <% if(transaction.transactiontype === "Deposit") { %>
                  <td><i style="color: green;" class="fas fa-circle"></i></td>
                <% } %>
                <% if(transaction.transactiontype === "withdrawal" || transaction.transactiontype === "withdrawal Loan" ) { %>
                  <td><i style="color: red;" class="fas fa-circle"></i></td>
                <% } %>
                <td><%= transaction.transactiontype %></td>
                <td><%= transaction.transactionTypeMoney %></td>
              <% if(transaction.transactiontype === "Deposit") { %>
                <td><i class="fas fa-rupee-sign"></i><%= transaction.transactionAmount %> <i style="color: green;" class="fas fa-long-arrow-alt-up"></i></td>
              <% } %>
              <% if(transaction.transactiontype === "withdrawal" || transaction.transactiontype === "withdrawal Loan" ) { %>
                <td><i class="fas fa-rupee-sign"></i><%= transaction.transactionAmount %> <i style="color: red;" class="fas fa-long-arrow-alt-down"></i></td>
              <% } %>
                <td><%= transaction.totalAmount %></td>

                <% if( transaction.BankerId.length > 20 ){ %>
                     <td>-</td>
                <% } else { %>
                     <td><%= transaction.BankerId %></td>
                <% } %>
                
                <td><%= transaction.transactionTime %></td>
              </tr>
              <% } %>
            <% }) %>
        </table>





    </div>
  <% } else { %>
    <p style="color: red; text-align: center; font-size: 20px;" >Sorry!!! the account number don't exist</p>
  <% } %>
  <% } %>
</div>
<%-include("partials/footer")-%>